<% @posts.each do |post| %>
<div>
  <%= link_to posts_path(post.id) do %>
  <%= image_tag post.get_image %>
  <% end %>
  <p>投稿ユーザー画像：<%= image_tag 'no_image.jpg' %></p>
  <p>投稿名：<%= post.post_name %></p>
  <p>説明：<%= post.caption %></p>
  <p>ユーザーネーム：<%= post.user.nickname %></p>
</div>
<% end %>
