<% provide(:title, "投稿") %>
<div class="container">
    <div class="row">
        <div class="col-sm-8 px-sm-0 offset-sm-1">
            <h2 class="my-5">投稿一覧</h2>
        </div>
        <div class="col-sm-2 px-sm-0 text-right mt-5">

            <%= link_to new_post_path,class:"btn btn btn-outline-secondary" do %>
            <i class="fas fa-plus"></i>
            <% end %>
        </div>
    </div>
    <table class="table  mb-5">
     <thread>
      <tr>

        <th>User</th>
        <th>Post</th>
    　</tr>
    　</thread>
    　<tbody>

    <tr>
      <% @posts.each do |post| %>
    </tr>
     <td>
      <%= link_to users_edit_path(post.user) do %>
      <%= post.user.nickname %>

      <% end %>
     </td>

     <td>
      <%= link_to post_path(post.id) do %>
      <%= post.post_name %>
      <% end %>
     </td>
  </tr>


    <tr>





    </tr>
        <% end %>
        </tbody>
    </table>





          <%= paginate @posts %>
        </div>
    </div>
</div>

