<% provide(:title, "新規投稿") %>
<div class="container">
  <div class="row">
    <div class="col-sm-8 px-sm-0 offset-sm-1">
      <h2>投稿新規登録</h2>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-10 px-sm-0 mx-auto mb-5">
  <%= form_with model: @post do |f| %>
   <table>
   <tr>
    <div class="form-group">
    　<th><%= f.label :画像・写真 %></th>
      <th><%= f.file_field :image, accept: "image/*" %></th>
    </div>
   </tr>

   <tr>
    <div class="form-group">
     <th><%= f.label :投稿名 %></th>
     <td><%= f.text_field :post_name, placeholder:"投稿名" %></td>
    </div>
   </tr>

   <tr>
    <div class="form-group">
     <th><%= f.label :投稿本文 %></th>
     <td><%= f.text_area :caption, size: "100x5", placeholder:"ここに本文を記述します" %></td>
    </div>
   </tr>

　 <tr>
    <div class="form-group">
     <th><%= f.label :URL %></th>
     <td><%= f.text_area :URL, size: "100x3", placeholder:"URL" %></td>
    </div>
   </tr>

 <tr>
  <div class="form-action">
   <th><%= f.submit "投稿", class:"btn btn-success" %></th>
  </div>
</tr>
  <% end %>
</table>
    </div>
  </div>
</div>
