<% provide(:title, "投稿詳細") %>
<div class="container">
  <h2 class="mt-5 text-center">投稿詳細</h2>
    <div class="row align-items-center m-5">
      <div class="col-lg text-center mb-5">
  <%= image_tag @post.get_image, :size => '300x250'%>
</div>

<div class="col-lg">
 <table class="table">
  <tr>
   <th>投稿名</th>
   <td><%= @post.post_name %></td>
  </tr>

  <tr>
   <th>投稿本文</th>
   <td><%= @post.caption %></td>
  </tr>

  <tr>
   <th>プロフィール画像</th>
   <td><%= @post.get_image %></td>
  </tr>

  <tr>
   <th>ユーザー名</th>
   <td><%= @post.user.nickname %></td>
  </tr>

　<tr>
   <th>投稿日</th>
   <td><%= @post.created_at.strftime('%Y/%m/%d') %></td>
  </tr>

<div class="d-flex justify-content-around">
 <% if @post.user == current_user %>

 　 <p><%= link_to '編集',edit_post_path(@post.id) , class: 'btn btn-success' %></p>
   <p><%= link_to "削除", post_path(@post), method: :delete %></p>
  <% end %>



</div>
</div>
</div>
</div>
